body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
}
.logo{
    left: 50px;
    width: 50px;
    height: 50px;
    display: flex;
  }
header {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}
.menu {
    background-color: #002244;
    padding: 15px;
    text-align: center;
}
.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}
.menu a:hover {
    background-color: #0055aa;
}

section {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #003366;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

form button:hover {
    background-color: #00509e;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttons a {
    text-decoration: none;
    color: white;
    background-color: #2a3b59;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

.buttons a:hover {
    background-color: #1d2a45;
}

/* Footer */
.footer {
    background-color: #2a3b59;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}